<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <% if current_user == nil %>
    <div class="alert alert-danger">">
      <strong>You must be logged in to write a review</strong>
    </div>
    <% else %>
    <div class="p-3 mb-2 bg-info text-white">
    <div style = 'padding: 10px' "text-success">
      <%= form_for [@product, Review.new] do |form| %>
      <%= form.label :Review %><br>
      <%= form.number_field :rating %><br>
      <%= form.text_area :description, size:'30x4', class: 'form-control animated'  %>
      <%= form.submit 'Send' %>
    </div>
      <% end %>
    </div>
    <% end %>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Rating</th>
            <th>Reviews</th>
            <th>Username</th>
        </tr>
    </thead>
    <% @product.reviews.reverse_each do |f| %>
    <tbody>
        <tr>
            <td><%= f.rating %></td>
            <td><%= f.description %></td>
            <td><%= f.user_id %></td>
        </tr>
    </tbody>
    <% end %>
</table>




  </article>

</section>
